/* Подключение шрифтов*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
   height: 100%;
}

/* Общие стили для body */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;

}

li {
  list-style-type: none;
}
.main-inner {
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;

}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* правила для header */
.page-header {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-navigation-panel {
  width: 1041px;
  display: flex;
  flex-direction: row;
  padding: 0 60px;
}

.search {
  width: 516px;
}

.manage-user {
  margin: 0;
  padding: 0;
  width: 245px;
}

.manage-goods {
  margin: 0;
  padding: 0;
  width: 240px;
}




.navigation-catalog {
  background-color: #FFE17F;
}

.header-navigation {
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.user-navigation {
  background-color: #FFE17F;
  display: flex;
  flex-direction: row;
  width: 1075px;
  margin: 0 auto;
}

.header-navigation li {
  background-color: #FFE17F;
}

.catalog-item .navigation-link {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  background-color: #FFE17F;
}


.navigation-link {
  text-decoration: none;
  color: #000000;
}

/* класс для жирного заглавного заголовка */
.uppercase-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.top-second-panel {
   display: flex;
   margin: 0 60px;
  width: 1041px;
}

/* Меню пользователя и поиск по сайту*/

.manage-user {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Меню каталога товаров и ослуживания товаров */
.manage-goods {
  color: #000000;
  background-color: #FFE17F;
}

/* Меню гарантии  доставки */
.main-menu {
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;

}

.main-menu-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

/* Слайдер */
.title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider {
  width: 1160px;
}

.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.slider-image {
  width: 560px;
}


.slider-item-text {
  width: 560px;
}

.slider-item-properties dt {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.slider-item-properties dd {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* Панель с категориями товаров */



.categories-item .navigation-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  background-color: #FFFFFF;
  color: #000000;
}

/* Сервисы */
/*
  используем .title, .uppercase-title и наследуемый от body
*/
.service {
  background-color: #F0F0F0;
}

.service-list {
  margin: 0;
  padding: 0;
}

.service-description-container {
  width: 691px;

  padding-right: 70px;
}

.service-item-description {
  background-color: #F0F0F0
}

.service-description-list {
  margin: 0;
  padding: 0;
}
.service-description {
  width: 500px;
  margin-left: 116px;
  margin-right: 263px;

}


.service-inner{
  display: flex;
  width: 1160px;

}

.service-list-container {
  width: 160px;
  margin-right: 124px;
}

.service-item {
  background-color: #F0F0F0;
}

.service-item .navigation-link {
  background-color: #F0F0F0;
}

.order {
  background-color: #F0F0F0;
  width: 1160px;
  display: flex;
  flex-direction: row;
}

.order .navigation-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.categories {
  width: 1160px;
}
.categories-list {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.categories-item .title{
  width: 160px;
  margin-left: 140px;
  margin-right: 120px;
}

/* Раздел "О нас" и "Контакты" */
/*
  используем .title, .uppercase-title и наследуемый от body
*/


.about-phone {
  text-decoration: underline;
}

/* Рассылка */

.distribution-container {
  margin: 0 auto;
  width: 1440px;
  background-color: #F0F0F0;
}
.distribution {
  margin: 0 auto;
  width: 1160px;
}
.distribution-btn {
  background-color: #F0F0F0;
}



.about {
  width: 1160px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;

}

.about-us {
  width: 500px;
}

.about-contacts {
  width: 515px;
  margin-right: 47px;
}
/* Правило для адреса в разделе О нас */

.contacts-address {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #444444;
}

.companies-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000
}


/* footer */

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
  width: 1440px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1160px;
}

.page-footer .navigation-link {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-navigation {
  color: #FFFFFF;
  background-color: #444444;
}


.footer-phone {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

/* стили для каталога */
.catalog-uppercase-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/* фильтры */

.catalog-filter-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}


/* сортировка */

.sorting-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* список товаров */

.product-list {
  padding: 0;
  margin: 0;
}

.product-card-title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000
}

.product-card-price {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}


.pagination-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444444;
}


.visually-hidden {
  display: none;
}


.footer-address-block {
  width: 300px;
  align-self: flex-start;
}

.footer-center-block {
  width: 600px;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;

}

.footer-phone-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.filter-section {
  width: 328px;
}

.sorting-section {
  width: 760px;
  padding-left: 72px;
}

.catalog-container {
  display: flex;

}

.filter-main-title {
  background-color: #DCDCDC;
}

.catalog-filter-form {
  background-color: #EBEBEB;
}

.sort-main-title {
  background-color: #EBEBEB;
}

.pagination-container {
  background-color: #EBEBEB;
  display: flex;
  flex-direction: row;
  width: 760px;

}

.pagination {
  margin: 0;
  padding: 0;
  /*display: flex;
  flex-direction: row;*/
  align-self: center;

}

.pagination-prev {
  align-self: flex-start;
}

.pagination-next {
  align-self: flex-end;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
