/* Подключение шрифтов*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
   height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* Общие стили для body */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;

}

li {
  list-style-type: none;
}
.main-inner {
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;

}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* правила для header */
.page-header {
   display: flex;
  flex-direction: column;
}

.header-logo {
  display: block;
  margin-left: 61px;
}

.user-panel {
  min-width: 1041px;
  display: flex;
  flex-direction: row;
  padding: 0 60px;
  margin-top: 48px;
  margin-bottom: 29px;
}

.search {
  width: 516px;
  margin-right: 24px;
}

.search-input {
  display: block;
  height: 20px;
  box-sizing: border-box;
}

.manage-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
/* основное меню */
.main-menu-panel {
  display: flex;
  width: 1041px;
  padding: 0 60px;
  margin-bottom: 38px;
}

.navigation-catalog {
  background-color: #FFE17F;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 293px;
  margin-right: 247px;

}

.header-navigation {
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;

}

.user-navigation {
  background-color: #FFE17F;
  display: flex;
  flex-direction: row;
  width: 1075px;
  margin: 0 auto;
}

.header-navigation li {
  background-color: #FFE17F;
}

.main-menu-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.main-menu-contacts {

}



.catalog-item .navigation-link {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  background-color: #FFE17F;
}

/*
.navigation-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;

  display: block;
  padding-bottom: 15px;
  padding-top: 15px;


}*/

/* Меню пользователя и поиск по сайту*/

.manage-user {

  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 245px;
  line-height: 19px;
  color: #000000;

  padding: 0;
  margin: 0 19px 0 0;

}

/* Меню каталога товаров и ослуживания товаров */
.manage-goods {

  line-height: 19px;
  color: #000000;
  background-color: #FFE17F;

  display: flex;
  width: 240px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

}


.manage-goods-item {
  margin-right: 74px;
}

.manage-goods-item:last-child  {
  margin-right: 0;
}

/* Меню гарантии  доставки */
.main-menu {
  background-color: #FFE17F;
  display: flex;
  margin-left: auto;
  width: 100%;
}

.main-menu:last-child {
  margin-right: 0;
}

.main-menu-navigation {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 0 auto 0 0;
}



.main-menu-item {
  margin-right: 19px;



}

/* Слайдер */
.title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider {
  width: 1160px;
}

.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.slider-image {
  width: 560px;
}


.slider-item-text {
  width: 560px;
}

.slider-item-properties {
   display: grid;
   grid-template-columns: repeat(3, 160px);
   grid-template-rows: 52px 30px;
   column-gap: 20px;
}

.slider-item-properties dt {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.slider-item-properties dd {
  grid-row: 1 / 2;
  margin: 0;

  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* Панель с категориями товаров */

.categories-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: none;
  text-decoration: none;
  color: #000000;
}

.categories-image {
  margin-bottom: 33px;
}


/* Сервисы */

.service {
  width: 100%;
  margin-bottom: 90px;
}

.service-background {
  background-color: #F0F0F0;
  margin-bottom: 90px;
  padding: 90px 0 70px;
}

.service-list {
  margin: 0;
  padding: 0;
}

.service-description-container {
  width: 691px;
  padding-right: 70px;
}

.service-item-description {
  background-color: #F0F0F0

}

.service-description-list {
  margin: 0;
  padding: 0;
}
.service-description {
  width: 500px;
  margin-left: 116px;
  margin-right: 263px;

}

.service-inner{
  display: flex;
}

.service-list-container {
  width: 160px;
  margin-right: 124px;
}

.service-item {
  background-color: #F0F0F0;
  margin-bottom: 23px;
  margin-right: auto;
}

.service-item-description p {
  margin-top: 0;
}

.service-title {
  margin-top: 0;
  margin-bottom: 14px;
}

.service-link {
  display: block;
  background-color: #F0F0F0;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* Доставка */

.delivery {
  background-color: #F0F0F0;
  width: 1160px;
  display: flex;
  flex-direction: row;
}

.delivery-logo {
   min-width: 47px;
  min-height: 31px;
  padding: 34px 39px;
}

.delivery-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 40px 125px;
}



.categories {
  width: 1160px;
}
.categories-list {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.categories-item .title{
  width: 160px;
  margin-left: 140px;
  margin-right: 120px;
}

/* Раздел "О нас" и "Контакты" */


.about-phone {
  color: #444444;
}

/* Рассылка */

.distribution {
  /*margin: 0 auto;*/
  width: 100%;
  background-color: #F0F0F0;
  padding-bottom: 140px;
  padding-top: 75px;
}

.distribution-container {
  display: flex;
  flex-wrap: wrap;
}

.distribution-form {
  width: 100%;
  display: flex;
}

.distribution-email {
  width: 600px;
  padding-right: 40px;
  box-sizing: border-box;
}

.distribution-btn {

  width: 260px;
  padding-top: 17px;
  padding-bottom: 18px;


  background-color: #F0F0F0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;



}

.distribution-title {
  margin-top: 0;
  margin-right: 40px;

  width: 560px;
}
.distribution-content {
  width: 560px;
}

.distribution-free {
  margin-left: auto;
  align-self: center;
}




/* Правило для адреса в разделе О нас */

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 87px;
}

.about p {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-us {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.about-title {
  margin-bottom: 26px;
}

.about-contacts {
  width: 515px;
  margin-right: 47px;
}

.contacts-schedule {
  margin-bottom: 67px;
  margin-top: auto;
}

.btn-about {
  margin-top: auto;
}

.about-contacts address {
  font-style: normal;
}

.contacts-address {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #444444;
}

.list-companies {
  margin-bottom: 52px;
  margin-top: 55px;
}


.companies-item {
  margin-bottom: 20px;

  font-family: Rubik, sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #000000;

}
.companies-item:last-child {
  margin-bottom: 0;
}


/* footer */

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
  width: 100%;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}



.footer-logo-container {
  margin-bottom: 35px;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1160px;
}

.page-footer .navigation-link {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-navigation {
  color: #FFFFFF;
  background-color: #444444;
  display: flex;
  padding: 0;
  margin: 0 auto 63px;

}


.footer-phone {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  margin-bottom: 53px;
}

.footer-block {
  width: 300px;
}

.footer-address-block {
}

.footer-center-block {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.footer-phone-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: Rubik, sans-serif;
  font-size: 16px;
}

.footer-menu-item {
  margin-left: 3px;
  margin-right: 3px;
}

.footer-link {
  padding-right: 3px;
  padding-left: 3px;
  min-width: 148px;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;


}


.socials {

  display: flex;
  margin: auto auto 0;
  padding: 0;

}

.socials-link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid red;
  display: block;
  margin-right: 7px;
  margin-left: 7px;

}

.logo-partners {
  margin-top: auto;
}

/* стили для каталога */
.catalog-container {
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
}

.catalog-uppercase-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/* Хлебные крошки */
.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;

}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

/* фильтры */

.filter-main-title {


  margin: 25px 32px 25px 60px;
}

.catalog-filter-form {
  width: 200px;
  margin-left: auto;
}


.catalog-filter-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filter-section {



}

.filter-title {
  grid-column: 1/3;
  background-color: #dcdcdc;
  padding: 25px 32px 25px 60px;
}

.filter-title h2 {
  margin: 0 0 0 auto;
  padding: 0;
  width: 290px;
}



.filter-form-container {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  background-color: #e5e5e5;
  padding: 70px 70px 70px 60px;
}



/* сортировка */


.sort-panel {
  grid-column: 3 / 5;

  display: flex;
  grid-row: 1;

  background-color: #EBEBEB;
  /*padding: 25px 0 25px 72px;*/

}

.sort-panel-title {
  display: flex;
}



.sorting-item {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sort-main-title {
  display: block;
  margin: 25px 72px;
}

/* список товаров */

.product-list {
  padding: 69px 0 77px 72px;
  margin: 0 0 44px 0;
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px 44px;
  grid-column: 3;


}



.product-card-image {
  grid-column: 1 / -1;
  grid-row: 1;
}

.product-card-link {
  font-family: Rubik, sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  letter-spacing: -0.02em;
  display: inline-block;
  max-width: 280px;
  vertical-align: top;
  margin-top: 0;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  color: #444444;
  vertical-align: top;
}


/* Пагинация */

.pagination-container {
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 72px;


  font-size: 16px;
  line-height: 19px;
  margin-bottom: 77px;
  grid-column: 3 / 4;

}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-prev {
  width: 100px;
  margin-right: 189px;
}

.pagination-next {
  max-width: 150px;
  margin-left: auto;
  line-height: 19px;
}



.pagination-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 26px 30px;
  display: block;
}


.pagination-count {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  padding: 12px;
  margin: 0 2px;
  display: block;
}

.pagination-show-more {
  grid-column:  3 / 4;
  margin-bottom: 51px;
  margin-left: 72px;
  min-height: 55px;
}


